/* General styling */
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
.header {
  background-color: #fff;
  color: #292f36;

  padding: 1rem 2rem;
  position: relative;
  z-index: 1000;
}

.logo-img {
  display: flex;
  align-items: center;
}

.logo-img img {
  width: 50px; /* Adjusted for responsiveness */
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 3rem;
}

.nav-links li a {
  color: #292f36;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: #cda274;
}

/* Hamburger Menu */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  background-color: #292f36;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex; /* Shown on smaller screens */
  }

  .nav-links {
    display: none; /* Hidden by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex; /* Shown when the menu is toggled */
  }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }
}
